<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-2">
            <img src="../../../assets/20220125_172745.jpg" class="img-fluid">
        </div>
        <div class="col-md-2 text-center">
            <p>{{persona.nombre}} {{persona.apellido}}</p> 
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-md-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Soy de Rosario, Santa Fe, tengo 22 años y me encuentro finalizando 4to año de Ingeniería en Sistemas de Información en UTN FRRo. Ansioso de poner en práctica mis conocimientos, obtener nuevos y comenzar a adentrarme en el entorno laboral. Soy proactivo y presento una buena predisposición para trabajar en grupo.</p>
            </span>
        </div>
    </div>
</div>