<div class="container-fluid">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-md-2">
            <button type="button" class="btn btn-dark" routerLink="nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td><h4>{{Experiencia.nombreE}}</h4></td>
                        <td>{{Experiencia.descripcionE}}</td>
                        <td *ngIf="isLogged"><button class="btn btn-primary" routerLink="/editexp/{{Experiencia.id}}">Editar <i class="bi bi-pencil-square"></i></button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)">Borrar <i class="bi bi-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
