.row {
    padding: 15px 0 15px;
    margin: 0;
}

div {
    text-align: justify;
    background-color: #d3d3d3;
}

.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto {
    box-shadow: 10px 10px 30px black;
    display: block;
    margin: auto;
}