<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-2">
            <img src="../../../assets/20220125_172745.jpg" class="img-fluid">
        </div>
        <div class="col-md-2 text-center">
            <p>Oviedo, Ignacio Andrés.</p> 
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-md-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit asperiores unde temporibus impedit. Et deleniti illum atque dolorum rem unde tempora possimus, nihil itaque beatae! Corporis nisi exercitationem facere quis.</p>
            </span>
        </div>
    </div>
</div>