<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-md-1">
            <p></p>
        </div>
        <div class="col-md-11">
            <ul>
                <li><h1>Estudio 1:</h1><h3> years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum illum dolore tenetur iusto voluptas beatae quibusdam suscipit, nesciunt dignissimos ducimus exercitationem modi? Dolores voluptatem debitis consectetur laboriosam. Temporibus, culpa deleniti.</p>
            </ul>
            <ul>
                <li><h1>Estudio 2:</h1><h3> years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum illum dolore tenetur iusto voluptas beatae quibusdam suscipit, nesciunt dignissimos ducimus exercitationem modi? Dolores voluptatem debitis consectetur laboriosam. Temporibus, culpa deleniti.</p>
            </ul>
            <ul>
                <li><h1>Estudio 3:</h1><h3> years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum illum dolore tenetur iusto voluptas beatae quibusdam suscipit, nesciunt dignissimos ducimus exercitationem modi? Dolores voluptatem debitis consectetur laboriosam. Temporibus, culpa deleniti.</p>
            </ul>
        </div>
    </div>
</div>
