<div class="container-fluid">
    <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="row">
            <div class="col-md-6 parte1">
                <h2>Proyecto 1:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate omnis nemo distinctio deleniti unde, sapiente magnam cum consequuntur ipsum voluptas, totam aliquam odit iure laudantium ut ipsam. Minus, reprehenderit.</p>
            </div>
            <div class="col-md-6 parte2">
                <img src="../../../assets/sps.png" class="img-fluid img-proyecto">
            </div>
        </div>
    </div>
</div>
