<div class="container-fluid">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/HTML5.png'"
                [showImage]="true"
                [imageWidth]="70"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/CSS3.png'"
                [showImage]="true"
                [imageWidth]="50"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/js.png'"
                [showImage]="true"
                [imageWidth]="70"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/mysql.png'"
                [showImage]="true"
                [imageWidth]="100"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/mysql.png'"
                [showImage]="true"
                [imageWidth]="100"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
            <div class="col-md-4 text-center">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../../../assets/mysql.png'"
                [showImage]="true"
                [imageWidth]="100"
                [imageHeight]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>
    </div>
</div>